@import '_vars'
@import '_mixins'

*:focus
	outline: none
*,
::after,	
::before
	box-sizing: border-box	

input[type="checkbox"],
input[type="radio"]
	display: none

body
	@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic')
	font-size: 16px
	line-height: 1.25
	font-family: 'Roboto', sans-serif
	margin: 0
	
	&.open_modal_pop
		overflow: hidden
		position: fixed

		&::before
			content: ''
			display: block
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: rgba($grey_color_light , .4)

ul
	padding: 0
	margin: 0
	list-style: none

a
	color: $grey_color_darck
	text-decoration: none
	&:hover
		color: $grey_color_darck

.hide
	display: none !important



