@import '_vars'
@import '_mixins'


html
	overflow-x: hidden

*:focus
	outline: none
*,
::after,	
::before
	box-sizing: border-box	

input[type="checkbox"],
input[type="radio"]
	display: none



input
	padding: 5px
	height: 32px
	line-height: 32
	border: 1px solid $grey_color_light2

.btn,
button
	text-align: center
	height: 32px
	line-height: 32px
	padding: 0 15px
	border: none
	background: $blue_color
	transition-duration: .3s
	color: #fff
	&:hover
		opacity: 0.75
		cursor: pointer

body
	@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic')
	font-size: 16px
	line-height: 1.25
	font-family: 'Roboto', sans-serif
	margin: 0
	color:  $grey_color
	background: #fafafa

	&.open_modal_pop
		overflow: hidden
		position: fixed

		&::before
			content: ''
			display: block
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: rgba($grey_color_light , .4)

ul
	padding: 0
	margin: 0
	list-style: none

a
	color: $grey_color_darck
	text-decoration: none
	&:hover
		color: $grey_color_darck

.hide
	display: none !important


.svg 
	width: 1em
	height: 1em
	stroke-width: 0
	stroke: currentColor
	fill: currentColor
	vertical-align: middle
	display: inline-block

// 
.slick
	&-dots
		display: none !important

	.view_slide &
		&-arrow
			width: 40px
			height: 30px
			border: 1px solid $grey_color_light2
			position: absolute
			right: 15px
			top: 0
			overflow: hidden
			color: transparent
			background: transparent

			&::before,
			&::after
				content: ''
				display: block
				width: 10px
				height: 2px
				position: absolute
				top: 50%
				left: 50%
				background: $grey_color

			&.slick-disabled
				&::before,
				&::after
					background: $grey_color_light2
		&-prev
			right: 39px
			right: 54px
			+to_768

			&::before
				transform: rotate(45deg)
				margin-left: -6px
				margin-top: 2px
			&::after
				transform: rotate(-45deg)
				margin-left: -6px
				margin-top: -4px

		&-next 
			transform: rotate(180deg)
			&::before
				transform: rotate(-45deg)
				margin-left: -6px
				margin-top: -4px
			&::after
				transform: rotate(45deg)
				margin-left: -6px
				margin-top: 2px


