.header
	background: $grey_color_darck

	a
		color: $white_color

	&_logo
		text-transform: uppercase
		padding: 15px 15px 15px 0

	&_cont
		max-width: 1256px
		margin: 0 auto
		display: flex
		align-items: center

	&_nav-list
		display: flex
		align-items: center

		&-itm-link
			padding: 15px 15px 15px 0