<section class="final">
	<img src="https://s3.vcdn.biz/static/f/272520471/image.jpg" alt="" class="final_img">
	<div class="final_right">
		<h2 class="final_title">
			Дэдпул 2
		</h2>
		<p class="final_cat">
			2018, Комедии, Приключения, Боевики, Фантастика, Зарубежные, США
		</p>
		<ul class="final_chars">
			<li class="final_char">
				HD
			</li>
			<li class="final_char">
				IMDB: 7.0
			</li>
		</ul>
		<p class="final_desc">
			Один Дэдпул — хорошо, два — еще лучше! Смотрите расширенную и
			кинотеатральную версию «Дэдпула 2» и зарядитесь ударной дозой юмора от
			болтливого наемника. Уэйд Уилсон выстоял в схватке и неизлечимой болезнью и
			со злодеем Аяксом, который, пользуясь безвыходностью людей, менял их и
			продавал в рабство. Правда, взамен он давал сверхспособности...
		</p>

		<ul class="final-chars__2">
			<li class="final-chars__2-itm">
				<span class="final-chars__2-name">ДОСТУПНО НА УСТРОЙСТВАХ</span>
				<span class="final-chars__2-desc">iOS,
					Android,
					Smart TV,
					Консоли,
					Приставки</span>
			</li>
			<li class="final-chars__2-itm">
				<span class="final-chars__2-name">ПЕРЕВОД</span>
				<span class="final-chars__2-desc">Русский, Украинский</span>
			</li>
			<li class="final-chars__2-itm">
				<span class="final-chars__2-name">СУБТИТРЫ</span>
				<span class="final-chars__2-desc">Русский, Украинский</span>
			</li>
		</ul>

		<div class="final_bottom">
			<a href="#" class="final_bottom-link btn">
				313 отзывов
			</a>
			<a href="#" class="final_bottom-link btn final_bottom-link__2">
				Смотреть
			</a>
		</div>




	</div>

</section>