<header class="header">
	<a href="#" class="header_logo">Logo</a>
	<nav class="header_nav">
		<ul class="header_nav-list">
			<li class="header_nav-list-itm">
				<a href="#" class="header_nav-list-itm-link">
					Link
				</a>
			</li>
		</ul>
	</nav>
</header>