<section class="top-block">
	<div class="top-block_cont">
		<img src="/public/img/image_3.png" alt="">
		<div class="top-block_right">
			<h1 class="top-block_title">
				<%= title %>
			</h1>
			<p class="top-block_desc">
				<%= description %>
			</p>
			<a href="/select-gener/" class="top-block_link btn <%= statusButton %>">
				Подобрать
			</a>
		</div>
	</div>
</section>