<section class="top-block">
	<div class="top-block_cont">
		<img src="" alt="">
		<div class="top-block_right">
			<h1 class="top-block_title">
				Ищешь что посмотреть?
			</h1>
			<p class="top-block_desc">
				Я - Йцукенг.
				Подберу фильм вместо Тебя.
			</p>
			<a href="" class="top-block_link btn">
				Подобрать
			</a>
		</div>
	</div>
</section>