<section class="view view_1">

	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 style="position:absolute;width:0;height:0;overflow:hidden;">
		<symbol id="icon-arrow_1" fill="none" viewBox="0 0 28 22" id=".503836995956918"
		 xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M28 4L10 22 0 12l4-4 6 6L24 0l4 4z"
			 fill="#fff" />
		</symbol>
	</svg>


	<form action="" class="view_cont">
		<div class="view_cont-wrap">

			<input id="view_itm-input_0" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_0" class="view_itm">
				<img src="./public/img/1.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Драмы
				</p>
			</label>

			<input id="view_itm-input_1" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_1" class="view_itm">
				<img src="./public/img/2.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Зарубежные
				</p>
			</label>

			<input id="view_itm-input_2" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_2" class="view_itm">
				<img src="./public/img/3.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Военные
				</p>
			</label>

			<input id="view_itm-input_3" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_3" class="view_itm">
				<img src="./public/img/4.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Исторические
				</p>
			</label>

			<input id="view_itm-input_33" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_33" class="view_itm">
				<img src="./public/img/5.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Комедии
				</p>
			</label>

			<input id="view_itm-input_4" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_4" class="view_itm">
				<img src="./public/img/55.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Семейные
				</p>
			</label>

			<input id="view_itm-input_5" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<img src="./public/img/6.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Фантастика
				</p>
			</label>

			<input id="view_itm-input_66" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_66" class="view_itm">
				<img src="./public/img/7.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Боевики
				</p>
			</label>


			<input id="view_itm-input_77" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_77" class="view_itm">
				<img src="./public/img/8.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Криминал
				</p>
			</label>


			<input id="view_itm-input_88" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_88" class="view_itm">
				<img src="./public/img/9.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Триллеры
				</p>
			</label>


			<input id="view_itm-input_99" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_99" class="view_itm">
				<img src="./public/img/10.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Спортивные
				</p>
			</label>


			<input id="view_itm-input_45" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_45" class="view_itm">
				<img src="./public/img/11.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Детективы
				</p>
			</label>


			<input id="view_itm-input_46" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_46" class="view_itm">
				<img src="./public/img/12.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Ужасы
				</p>
			</label>

			<input id="view_itm-input_47" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_47" class="view_itm">
				<img src="./public/img/13.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Приключения
				</p>
			</label>

			<input id="view_itm-input_48" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_48" class="view_itm">
				<img src="./public/img/14.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Мелодрамы
				</p>
			</label>

			<input id="view_itm-input_49" class="view_itm-in" type="checkbox" name="genre">
			<label for="view_itm-input_49" class="view_itm">
				<img src="./public/img/15.png" alt="" class="view_itm-img">
				<svg class="svg view_svg-check">
					<use href="#icon-arrow_1" />
				</svg>
				<p class="view_itm-title">
					Для взрослых
				</p>
			</label>

		</div>

		<div class="view_cont-bottom">
			<a href="#" class="view_cont-bottom-link view_cont-bottom-link__of btn">
				Отменить
			</a>
			<a href="#" class="view_cont-bottom-link btn">
				Далее </a>
		</div>

	</form>
</section>