<section class="view view-2">
	<form action="" class="view_cont">
		<articl class="view_cont-wrap">
			<articl class="view_itm">
				<div class="view_itm-img">
					<img src="https://s1.vcdn.biz/static/f/1364142601/image.jpg/pt/r193x272"
					 alt="" class="view_itm-img-cont">
				</div>
				<p class="view_itm-title">
					Дэдпул 2
				</p>
				<p class="view_itm-info">2018, Мелодрама</p>
				<a class="view_itm-buy" href="#">
					ПОКУПКА
				</a>
			</articl>
	</form>
</section>