<section class="view">
	<form action="" class="view_cont">
		<div class="view_cont-wrap">

			<input id="view_itm-input_1" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_1" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Арт-хаус
				</p>
			</label>

			<input id="view_itm-input_2" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_2" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Боевики
				</p>
			</label>

			<input id="view_itm-input_3" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_3" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Военные
				</p>
			</label>

			<input id="view_itm-input_4" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_4" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Детективы
				</p>
			</label>

			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Для взрослых
				</p>
			</label>

			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Детские
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Документальные
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Драмы
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Зарубежные
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Исторические
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Комедии
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Короткометражные
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Криминал
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Мелодрамы
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Мюзиклы
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Приключения
				</p>
			</label>


			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Триллеры
				</p>
			</label>

			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Ужасы
				</p>
			</label>

			<input id="view_itm-input_5" class="view_itm-input" type="checkbox" name="genre">
			<label for="view_itm-input_5" class="view_itm">
				<div class="view_itm-img"></div>
				<p class="view_itm-label-title">
					Фантастика
				</p>
			</label>

		</div>
	</form>
</section>